@import '../pages_styling/global_variables/root_style.css';
@import '../pages_styling/global_variables/images_path.css';


.mainBox {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: var(--whiteColor);
}

.sectionOne {
    width: 100;
    height: auto;
    margin: 0;
    background-color: var(--offWhite);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: var(--bannerImg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-size: 63vw;
}

.sectionOne div {
    width: 45vw;
    height: auto;
    padding: 3vw 0 3vh 3vw;
}

.extraStyling {
    font-size: var(--meduimFont);
    padding: 0.6rem 3rem;
    border-radius: 30px;
    background-color: var(--appButtonColorGreen);
}

.sBox1 {
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
}

.sBox1,
h1,
h2 {
    padding-bottom: 2vh;
    color: var(--blueColor);
}

.sBox1 h1 {
    font-size: var(--bigFont);
    width: 40vw;
    font-weight: bolder;
}

.sBox1 h2 {
    font-size: var(--smallFont);
    font-weight: 500;
    width: 36vw;
}

.licensedWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: auto;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.licensedRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 0;
    margin: 0;
}

.licensedText {
    color: var(--blueColor);
    font-size: var(--smallerFont);
    font-weight: 600;
    white-space: nowrap;
}

.licensedBold {
    color: var(--blueColor);
    font-size: var(--smallerFont);
    font-weight: 800;
    white-space: nowrap;
}

.imgg {
    width: 1.4rem;
    height: auto;
}

.imgNDIC {
    width: 3rem;
    height: auto;
}

.smallScreenBoardtext {
    display: none;
}

.sectionTwo {
    width: 100;
    height: auto;
    padding: 5vh 0 4vh 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background-color: orange; */
}

.section2child {
    width: 40vw;
    height: auto;
    display: flex;
    margin-top: 3vh;
    flex-direction: column;
    border-radius: 13px;
    /* background-color: red; */
}

.section2child img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 13px 13px 13px 13px;
}


.section2child h2 {
    font-weight: 900;
    padding-top: 2vh;
    font-size: var(--meduimFont1);
}

.section2child h3 {
    font-weight: 300;
    font-size: var(--meduimFont);
    padding-bottom: 3vh;
}

.sectionThree {
    width: 100;
    height: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: orange; */
}

.sectionThreechildText {
    width: 53vw;
    margin-top: 10vh;
    text-align: center;
    font-size: var(--bigFont);
    font-weight: bold;
    line-height: 1.1;
}

.sectionThreechildText .spanNumber {
    color: var(--appButtonColorGreen);
    font-size: inherit;
}

.sectionThreechildText .stretchText {
    display: inline-block;
    letter-spacing: 2px;
    font-weight: bold;
}

.imgLogs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    /* margin-top: 2vh; */
    padding: 0 5vw;
}

.imgLogs img {
    height: auto;
    width: 10vw;
    object-fit: contain;
    flex-shrink: 0;
}

.sectionFour {
    width: 100;
    height: auto;
    display: flex;
    padding: 0vh 5vw 0vh 5vw;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: red; */
}

.sectionFourChild {
    width: 30vw;
    height: auto;
    background-color: var(--lightGreen);
    border-radius: 8px;
    padding: 2vh 2vw 2vh 2vw;
    display: flex;
    margin-top: 17vh;
    flex-direction: column;
}

.resizedsectionFourChild {
    width: 25vw;
}

.rowTextImg {
    width: 100%;
    height: auto;
    display: flex;
    /* background-color: red; */
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.rowTextImg img {
    height: 6vh;
}

.sectionFourChild h2 {
    font-weight: 700;
    font-size: var(--meduimFont);
}

.sectionFourChild h3 {
    font-weight: 500;
    font-size: var(--smallFont);
}

.sectionFive {
    width: 100;
    height: auto;
    display: flex;
    margin-top: 13vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.sectionFiveHeadText {
    font-size: var(--bigFont);
}

.sectionFourContactButton {
    font-size: var(--meduimFont);
    padding: 1rem 8rem;
    border-radius: 50px;
    margin-top: 2vh;
    background-color: var(--appButtonColorGreen);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.sectionFourContactButton .fa-phone {
    font-size: 1.4em;
}

/* @media screen and (min-width: 560px) and (max-width: 1000px) {
    .sectionOne {
        padding: 0rem 0;
    }
} */

@media (max-width: 900px) {
    .sectionOne {
        height: auto;
        /* height: 10vh; */
        flex-direction: column-reverse;
        background-size: 90vw;
        padding: 6.5rem 0;
    }

    .sectionOne div {
        display: none;
        width: 100vw;
    }

    .smallScreenBoardtext {
        display: block;
    }

    .sBox2Img {
        background-color: var(--lightGreen);
    }

    .sBox1 {
        width: 100vw;
        padding: 2vh 5vw 0 5vw;
    }

    .sBox1 h1 {
        width: 92vw;
        font-size: var(--meduimFont1);
    }

    .sBox1 h2 {
        width: 92vw;
        font-size: var(--smallFont);
    }

    .extraStyling {
        font-size: var(--smallerFont);
        padding: 0.6rem 2rem;
        background-color: var(--appButtonColorGreen);
    }

    .licensedWrapper {
        padding: 1vh 0vw 2vh 0vw;
    }

    .sectionTwo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section2child {
        width: 90vw;
    }

    .section2child h2 {
        font-weight: 700;
        font-size: var(--meduimFont);
    }

    .section2child h3 {
        font-size: var(--smallFont);
    }

    .sectionThreechildText {
        width: 95vw;
        margin-top: 3vh;
        color: var(--blkColor);
        font-size: var(--meduimFont);
        line-height: 1;
    }

    .sectionThreechildText .spanNumber {
        color: var(--appButtonColorGreen);
        /* font-size: inherit; */
        letter-spacing: 0px;
    }

    .sectionThreechildText .stretchText {
        letter-spacing: -1px;
        font-weight: bold;
    }

    .imgLogs {
        gap: 5vw;
        /* margin-top: 2vh; */
        padding: 0 2vw;
    }

    .imgLogs img {
        width: 15vw;
    }

    .sectionFour {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sectionFourChild {
        width: 90vw;
        /* background-color: red; */
        padding: 3vh 2vw 3vh 2vw;
        margin-top: 3vh;
    }

    .sectionFourChild h2 {
        font-weight: 700;
        font-size: var(--meduimFont);
    }

    .sectionFourChild h3 {
        font-weight: 400;
    }
    .rowTextImg img {
        width: 10vw;
    }

    .sectionFiveHeadText {
        text-align: center;
        padding: 0 3vw 0 3vw;
        font-size: var(--meduimFont);
    }

    .sectionFourContactButton {
        font-size: var(--smallFont);
        padding: 0.8rem 4rem;
        gap: 12px;
    }

    .sectionFourContactButton .fa-phone {
        font-size: 1em;
    }


}