@import '../pages_styling/global_variables/root_style.css';
@import '../pages_styling/global_variables/images_path.css';

.paymentMainViewBody {
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headText {
    width: 85vw;
    height: auto;
    /* background-color: orange; */
    display: flex;
    padding: 5vh 0;
    gap: 5vh;
    flex-direction: column;
    align-items: center;
}

.headText h1 span {
    color: var(--appButtonColorGreen);
}

.htText1Bg {
    display: block;
}

.headText h1 {
    text-align: center;
    font-size: var(--bgVwHeadText);
}

.htText1Sm {
    display: none;
}

.headText hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: var(--textBlackColor) !important;
}

.subHeadtext .subHeadtext1 {
    color: var(--blueColor);
}

.subTT,
h2 .subHeadtext {
    font-weight: bold !important;
    font-size: var(--bgMeduimText);
}

.subTT,
h3 .subHeadtext1 {
    font-size: var(--bgMeduimText) !important;
    color: var(--blueColor) !important;
    margin-bottom: 1vw;
}

.rowBox {
    width: 85%;
    height: auto;
    display: flex;
    margin-bottom: 2vh;
    justify-content: space-between;
    /* background-color: red; */
}

.rreStleRowBox {
    flex-direction: row-reverse;
}

.rowBoxChild1 {
    width: 44vw;
    /* background-color: yellow; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.rowBoxChild1 img {
    width: 44vw;
    height: auto;
    display: block;
    object-fit: contain;
}

.listTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.statusDot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--appButtonColorGreen);
}

.statusDescription {
    font-size: var(--bgMeduimText);
    /* font-weight: 400;  */
    color: var(--textBlackColor);
    line-height: 1.6;
}

.pSectionTwo {
    width: 100%;
    height: auto;
    /* background-color: orange; */
    display: flex;
    padding: 5vh 6vw;
    gap: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hdTextSection2 {
    font-weight: bold !important;
    font-size: var(--bgVwHeadText);
}


.pRowImagBox {
    width: 100%;
    gap: 2vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-between;
    /* -webkit-overflow-scrolling: touch; */
    /* background-color: red; */
}


.pImageBox2 {
    width: 30vw;
    height: 40vw;
    background-image: var(--img3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
}

.pImageBox2 h1,
.pImageBox2 h2 {
    color: var(--whiteColor) !important;
    font-size: var(--smllMeduimText) !important;
    margin: 0;
}

.pImageBox2 h2 {
    margin-top: 1vh;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: block;
    font-size: var(--bgMeduimText) !important;
}

.lastSectionTwo {
    width: 100%;
    height: auto;
    /* background-color: orange; */
    display: flex;
    padding: 5vh 6vw;
    gap: 2vh;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.lsText1,
.lsText2,
.lsText3,
.lsText4,
.lsText5 {
    text-align: center;
}

.lsText1,
.lsText4,
.lsText5 {
    color: var(--textBlackColor);
}

.lsText1,
.lsText4 {
    font-weight: 500;
}

.lsText2,
.lsText3 {
    font-size: var(--bgVwHeadText);
}

.lsText4,
.lsText5 {
    font-size: var(--bgMeduimText);
}

.lsText1 {
    font-size: var(--smllMeduimText);
}

.lsText2 {
    font-weight: 900;
    color: var(--appButtonColorGreen);
}

.lsText3 {
    color: var(--blueColor);
}

.lsText1 {
    font-weight: 500;
}


.lsText5 {
    font-weight: 500;
}

.lastContactButton {
    width: 60% !important;
    font-size: var(--smllMeduimText);
    padding: 25px 0;
    border-radius: 50px;
    margin-top: 1vh;
    background-color: var(--appButtonColorGreen);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


@media (max-width: 900px) {
    .headText {
        width: 90vw;
        flex-direction: column;
        align-items: start;
        padding: 3vh 0;
        justify-content: start;
        /* background-color: red; */
    }

    .headText h1 {
        text-align: start;
        font-size: var(--smlVwHeadText)
    }

    .htText1Bg {
        display: none;
    }

    .htText1Sm {
        display: block;
    }

    .headText hr {
        display: none;
    }

    .subTT,
    h2 .subHeadtext {
        font-weight: bold !important;
        font-size: var(--bgVwHeadText) !important;
    }

    .subTT,
    h3 .subHeadtext1 {
        font-size: var(--smllMeduimText) !important;
        color: var(--blueColor) !important;
    }

    .rowBox {
        width: 90vw;
        flex-direction: column;
        /* margin-bottom: 2vh; */
        /* background-color: red; */
    }

    .rowBoxChild1 {
        width: 100%;
        /* background-color: yellow; */
    }

    .rowBoxChild1 img {
        width: 100%;
    }

    .statusDescription {
        font-size: var(--smllMeduimText);
        font-weight: 500;
        color: var(--textBlackColor);
        line-height: 1.6;
    }

    .hdTextSection2 {
        font-size: var(--smlMeduimHdText1) !important;
    }

    .pRowImagBox {
        -webkit-overflow-scrolling: touch;
    }

    .pRowImagBox::-webkit-scrollbar {
        display: none;
    }

    .pRowImagBox>* {
        flex-shrink: 0;
    }


    .pImageBox2 {
        width: 50vw;
        height: 80vw;
    }

    .pImageBox2 h1,
    .pImageBox2 h2 {
        font-size: var(--smlMeduimHdText1) !important;
        margin: 0;
    }

    .pImageBox2 h2 {
        margin-top: 0.5vh;
        font-size: var(--smllMeduimText) !important;
    }

    .lsText1 {
        font-size: var(--bgVwHeadText);
    }

    .lsText2,
    .lsText3 {
        font-size: var(--smlMeduimHdText1);
    }

    .lsText4,
    .lsText5 {
        font-size: var(--smllMeduimText);
    }

    .lastContactButton {
        width: 80% !important;
        font-size: var(--bgVwHeadText);
    }
}